# OCamlFormat is distributed under the MIT license. Parts of the OCaml library are vendored for OCamlFormat and distributed under their original LGPL 2.1 license
license: ["MIT" "LGPL-2.1-only WITH OCaml-LGPL-linking-exception"]
