profile=default

break-cases=toplevel
break-infix-before-func=false
break-infix=fit-or-vertical
cases-exp-indent=2
doc-comments=before
exp-grouping=preserve
leading-nested-match-parens=true
let-and=sparse
m=80
max-indent=2
module-item-spacing=preserve
nested-match=align
parens-ite=true
parens-tuple=multi-line-only
parse-docstrings=false
type-decl=sparse
