name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        ocaml-compiler:
          # Don't include every versions. OCaml-CI already covers that
          - 4.13.x

    runs-on: ${{ matrix.os }}

    steps:
      # Clone the project
      - uses: actions/checkout@v2

      # Setup
      - name: Setup OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Opam dependencies
        run: opam install --deps-only -t .

      - name: Runtest
        run: opam exec -- dune runtest

      - name: Upload binary
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v3
        with:
          name: ocamlformat-${{ runner.os }}-${{ runner.arch }}
          path: _build/install/default/bin/ocamlformat

  test-branch:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        profile:
          - conventional
          - ocamlformat
          - janestreet
        include:
          - ocp_indent: true
            ocp_indent_config: JaneStreet
            profile: janestreet

    steps:
      - name: Install ocp-indent
        if: ${{ matrix.ocp_indent }}
        run: |
          sudo apt install -y ocp-indent
          sudo touch /etc/ocamlfind.conf

      # Clone the project
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Fetch main build of ocamlformat
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build.yml
          workflow_conclusion: ""
          check_artifacts: true
          branch: main
          name: ocamlformat-${{ runner.os }}-${{ runner.arch }}
          path: ocamlformat-a

      - name: Fetch new build of ocamlformat
        uses: actions/download-artifact@v3
        with:
          name: ocamlformat-${{ runner.os }}-${{ runner.arch }}
          path: ocamlformat-b

      - name: Test ${{ matrix.profile }} profile
        run: |
          chmod +x ocamlformat-a/ocamlformat ocamlformat-b/ocamlformat
          ./tools/test_branch.sh $TEST_BRANCH_ARGS -n -a ocamlformat-a/ocamlformat -b ocamlformat-b/ocamlformat 'profile=${{ matrix.profile }}'
        shell: bash
        env:
          OCP_INDENT_CONFIG: ${{ matrix.ocp_indent_config }}
          TEST_BRANCH_ARGS: ${{ matrix.ocp_indent && '-o' || '' }}
